body {
    font-family: fantasy;
}

h1 {
    font-weight: bold;
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

h3 {
    font-weight: bold;
    position: relative;
    background: #FFFFFF;
    width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
}

.form input {
    font-family: "Merienda";
    outline: 0;
    background: #9eec6e;
    width: 360px;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    font-family: "Merienda";
    text-transform: uppercase;
    outline: 0;
    background: #9eec6e;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #9eec6e;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
    background: #9eec6e;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.form .message a {
    color: #9eec6e;
    text-decoration: none;
}

.form .register-form {
    display: none;
}

.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}

.container:before,
.container:after {
    content: "";
    display: block;
    clear: both;
}


body {
    background: #9eec6e;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #76b852, #8DC26F);
    background: -moz-linear-gradient(right, #76b852, #8DC26F);
    background: -o-linear-gradient(right, #76b852, #8DC26F);
    background: linear-gradient(to left, #76b852, #8DC26F);
    font-family: "Merienda";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
